@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}

input {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #444;
}

input::placeholder {
  font-size: 14px;
}

button {
  background-color: #e6384f;
  color: #fff;
  width: 100px;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ec566a;
}

li {
  list-style: none;
}

.Nav-Bar p {
  cursor: pointer;
}

.Lefttnav p {
  font-size: 14px;
}
